<div class="flex">
  <div 
       [class.-translate-x-full]="!isMenuOpen"
       [class.translate-x-0]="isMenuOpen"
       class="fixed inset-y-0 left-0 h-full w-64 bg-yellow-700 text-white shadow-xl transform transition-transform duration-500 z-50 rounded-r-lg">

    <div class="flex flex-col mt-4 space-y-3">
      <a  routerLink="/dashboard" 
         class="flex items-center py-4 px-6 bg-yellow-600 hover:bg-yellow-500 rounded-lg m-2 shadow-md transition-all duration-300 transform hover:scale-105 hover:text-yellow-200">
        <i class="fas fa-chart-line fa-lg mr-3"></i>
        <span class="text-left font-semibold text-lg">Dashboard</span>
      </a>
      <a routerLink="/peliculas" 
         class="flex items-center py-4 px-6 bg-yellow-600 hover:bg-yellow-500 rounded-lg m-2 shadow-md transition-all duration-300 transform hover:scale-105 hover:text-yellow-100">
        <i class="fas fa-film fa-lg mr-3"></i> 
        <span class="text-left font-semibold text-lg">Películas</span>
      </a>
      <a routerLink="/salas" 
         class="flex items-center py-4 px-6 bg-yellow-600 hover:bg-yellow-500 rounded-lg m-2 shadow-md transition-all duration-300 transform hover:scale-105 hover:text-yellow-100">
        <i class="fas fa-theater-masks fa-lg mr-3"></i> 
        <span class="text-left font-semibold text-lg">Salas</span>
      </a> 
      <a (click)="onLogout()" 
         class="flex items-center cursor-pointer py-4 px-6 bg-yellow-600 hover:bg-yellow-500 rounded-lg m-2 shadow-md transition-all duration-300 transform hover:scale-105 hover:text-yellow-200">
        <i class="fas fa-sign-out-alt fa-lg mr-3"></i>
        <span class="text-left font-semibold text-lg">Cerrar sesión</span>
      </a>
    </div>
  </div>

  <div class="flex-1 transition-all duration-500" [class.ml-64]="isMenuOpen">
    <div style="height: 8vh;" class="relative flex items-center p-4 bg-yellow-500 text-white shadow-md">
      <button *ngIf="!isMobile" (click)="toggleMenu()" 
              class="relative flex items-center p-2 bg-yellow-400 rounded-full hover:bg-yellow-300 focus:outline-none shadow-lg transition-transform transform hover:scale-105">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>

      <div class="flex items-center space-x-4 ml-4">
        <div class="text-2xl font-bold tracking-wide">CineViamatica</div>
      </div>
    </div>

    <div style="height: calc(92vh);" class="box-border overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
